.salve{
    height: 90vh;
    display: flex;
    align-items: center; /*alinhar vertical*/
    justify-content: center; /*alinhar em horizontal*/
  
}
.login{
   display: flex;
   align-items: center; /*alinhar vertical*/
   justify-content: center; /*alinhar em horizontal*/
   flex-direction: column; /*quebrar coluna ou linha*/
   border-radius: 5px;
   width: 400px;
   height: 500px;
   box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
}
.login h3{
    /* font-size: 22px; */
    margin: 0px 0px 48px 0px;
}
.login p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgb(44, 44, 44);
    margin: 1px;
    display: flex;
}
.login a{
    color: #9F215D;
}
.login input{
    padding: 3px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: solid 2px #9F215D;
    height: 28px;
    width: 250px;
}

.login button{
    margin: 20px 0px;
    width: 180px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #9F215D    ;
    font-size: 18px;
}

