.back-button-edit {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 4rem 0 2rem 0;
  margin-left: 20%;
}

.back-button-edit a {
  margin-right: 16px;
  display: flex;
}

.edit {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pdf {
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #9f215d;
  border-radius: 10px;
  margin-right: 130px;
  flex-direction: column;
}

.arrow-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 130px;
  margin-top: 30px;
}

.arrow-page p {
  font-family: "inter", sans-serif;
  font-size: 12px;
}

.arrow-button {
  height: 25px;
  width: 25px;
  background: #e66c51;
  border: none;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.ArrowImg {
  height: 10px;
  width: 7px;
}

.email-body {
  resize: none;
  background-color: #dddddd;
  color: rgb(44, 44, 44);
  padding: 1em;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  transition: all 0.2s;
  width: 400px;
}

.button-edit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 40px 20px;
  padding: 20px 20% 20px 20px;
  font-family: "Poppins", sans-serif;
}

.validate-button {
  width: 210px;
  height: 45px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  color: #000;
  outline: none;
  border: 2px solid #e66c51;
  font-size: 16px;
  margin-left: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.send-button {
  width: 210px;
  height: 45px;
  background: #e66c51;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  outline: none;
  font-size: 16px;
  margin-left: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

@media (max-width: 1030px) {
  .button-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 0 0;
  }

  .pdf {
    margin-bottom: 50px;
    margin-right: 0px;
  }

  .edit {
    flex-direction: column;
    align-items: center;
  }

  .email-body {
    height: 200px;
    margin: 0 10px;
  }

  .back-button-edit {
    margin-right: 10%;
  }
}
