.bloco{
    margin: 16px 0 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    border-radius: 5px;
    border: 2px solid #E66C51;
    padding: 0 15px;
}
.back-button-registration{
    margin-bottom: 32px;
}