  .logo-text {
    font-size: 24px;
    letter-spacing: 4px;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: linear-gradient(to right, #94215d, #f8994d, #ffc855);
    height: 56px;
  }
  nav #nav-list{
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top: 56px;
    right: -350px;
    width: 300px;
    height: 88vh;
    background: linear-gradient(to right, #f8994d, #ffc855);
    padding: 40px 0 0 10px;
    transition: 0.2s ease-in-out;
  }nav #nav-list .bottom{
    bottom: 0;
  }
  #nav-list.active{
    right: 0px;
  }
  nav #nav-list li{
    margin-bottom: 25px;
  }
  #nav-list {
    list-style: none;
    display: flex;
  }
  #nav-list li {
    margin-left: 16px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  
  a:hover {
    opacity: 0.7;
  }
  .menu-mobile{
    display: block;
  }
  .menu-mobile i{
    font-size: 24px;
    cursor: pointer;
  }
  .menu-mobile i{
    color: #fff;
  }
  @media (max-width: 991px) {
   
    .menu-mobile{
      display: block;
    }
    .menu-mobile i{
      font-size: 24px;
      cursor: pointer;
    }
    .logo {
      font-size: 20px;
      letter-spacing: 1px;
    }
  }