@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins:ital,wght@0,600;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-family: 'Poppins', extra-bold;
}
a:hover {
  opacity: 0.7;
}
h3{
  font-family: 'Inter';
  color: rgb(44, 44, 44);
}
main{
  padding: 50px;
}
.editor{
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.pdf{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  background: #ccc;
  margin: 50px;
}
/* -------------------------------------------------- NAVBAR -------------------------------------------------- */

.logo {
  font-size: 24px;
  letter-spacing: 4px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: linear-gradient(to right, #94215d , #f8994d, #ffc855 );
  height: 8vh;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
@media (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
}
.nav-list li{
  letter-spacing: 0;
}

/* -------------------------------------------------- TABLE -------------------------------------------------- */

.element.style {
  min-height: 509px !important;
}

.scr{
  background: red;
}
.scrV{
  background: green;
}
table{
  padding: 0 60px;
}
.search{
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding:20px;
  background: #fff;
}

.search input{
  width: 250px;
  padding: 10px 20px;
  margin: 0 10px;
  outline: none;
  border: 1px solid #f39d1c;
  border-radius: 5px;
}
.send select, .search select{
  width: 250px;
  margin: 0 10px;
  padding: 10px 40px;
  border: 1px solid #f39d1c;
  border-radius: 5px;
  color: #f39d1c;
}

.table-section{
  height: 300px;
  overflow-y: scroll;
  padding: 0 120px;
}
::-webkit-scrollbar{
  width: 0px;
}
table{
  width:100%;
  table-layout: fixed;
  border-collapse: collapse;
}
thead th{
  position: sticky;
  top: 0;
  background: #fff;
  color: #9f215d;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  border-bottom: 1px solid #9f215d;
}
th,td{
  padding: 10px 20px;
  word-break: break-all;
  text-align: center;
  font-family: 'Inter';
  letter-spacing: 1px;
}
tr:hover td{
  background: #f6f6f6;
  color: #f39d1c;
  cursor: pointer;
}
::placeholder{
  color: #f39d1c;
}

.send{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 40px 20px;
  padding: 20px 120px 20px 0;
}
#status{
  border-radius: 50%;
  background: #f82929;
  padding: 10px;
  cursor: pointer;
  border: 0;
}
#statusV{
  border-radius: 50%;
  background: green;
  padding: 10px;
  cursor: pointer;
  border: 0;
}
.push{
  padding: 10px 10px;
  background: #f82929;
  cursor: pointer;
  color: #fff;
  border: 0;
}
.empty{
  padding: 10px 20px;
  background: #ccc;
  cursor: pointer;
  color: #000;
  border: 0;
}
@media(max-width:991px){
  .table-section{
    padding: 0 10px;
    margin: 40px 0;
  }
  thead th{
    font-size: 12px;
  }
  th,td{
    padding: 10px 5px;
    font-size: 12px;
  }
  .send{
    padding: 20px;
    justify-content: center;
  }
}

/* -------------------------------------------------- CADASTRO DE USUARIOS -------------------------------------------------- */
.fundinho{
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 10px;
  align-items: center;
}
.container{
  max-width: 700px;
  width: 100%;
  padding: 0 30px;
  border-radius: 5px;
}
.container .Titulo{
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container form .detail{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .detail .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.detail .input-box input{
  height: 35px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #f39d1c;
  font-size: 14px;
  border-bottom-width: 2px;
}
.detail .input-box select{
  height: 35px;
  width: 104%;
  outline: none;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #f39d1c;
  font-size: 14px;

  border-bottom-width: 2px;
}
.detail .input-box span{
  font-family: 'Poppins', sans-serif;
}
form .botao{
  height: 45px;
  margin: 45px 0;
  width: 100%;
}
form .botao input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background: #f82929;
  color: #fff;
  cursor: pointer;
}
@media(max-width:991px){
.container{
  max-width: 100%;
}
form .detail .input-box{
  margin-bottom: 15px;
  width: 100%;
}
}