@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
a:hover {
  opacity: 0.7;
}
h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: rgb(44, 44, 44);
}
main{
  padding-top: 170px;
}

/* Enviar Email */

.voltaremail{
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:150px;
}

.voltaremail a{
  margin-right: 16px;
  display: flex;
}

.editor{
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.pdf{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  border: 2px solid #9f215d;
  border-radius: 10px;
}

.email-botao{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 40px 20px;
  padding: 20px 120px 20px 20px;
  font-family: 'Poppins', sans-serif;
}
 
.validar-email{
  width: 210px;
  height: 45px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  color: #000;
  outline: none;
  border: 2px solid #E66C51;
  font-size: 16px;
  margin-left: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.enviar-email{
  width: 210px;
  height: 45px;
  background: #E66C51;
  border:none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  outline: none;
  font-size: 16px;
  margin-left: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

/* -------------------------------------------------- NAVBAR -------------------------------------------------- */

.logo {
  font-size: 24px;
  letter-spacing: 4px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: linear-gradient(to right, #94215d , #f8994d, #ffc855 );
  height: 8vh;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-list li {
  letter-spacing: 1px;
  margin-left: 32px;
}

@media (max-width: 991px) {
  .logo{
    font-size: 20px;
    letter-spacing: 1px;
  }
  .nav-list li{
    letter-spacing: 0;
  }
}

/* -------------------------------------------------- TABLE -------------------------------------------------- */

.element.style {
  min-height: 509px !important;
}

.scr{
  background: red;
}
.scrV{
  background: green;
}
table{
  padding: 0 60px;
}

.titulo{
  font-family: 'Poppins', sans-serif;
  font-weight: 500; 
  color: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.busca{
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding:20px;
  background: #fff;
}

.busca input{
  width: 300px;
  height: 35px;
  margin: 0 10px;
  outline: none;
  border: 2px solid #f39d1c;
  border-radius: 5px;
}

.busca input::placeholder{
  color: #f39d1c;
  color: rgb(44, 44, 44);
  padding-left: 4px
}

.busca select{
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #f39d1c;
  font-size: 14px;
}
option[value=""][disabled] {
  display: none;
}
.img-verificado{
  height: 25px;
  width: 25px;
}
.table-section{
  height: 330px;
  overflow-y: scroll;
  padding: 0 120px;
}
::-webkit-scrollbar{
  width: 0px;
}
table{
  width:100%;
  table-layout: fixed;
  border-collapse: collapse;
}
thead th{
  position: sticky;
  top: 0;
  background: #fff;
  color: #9f215d;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  border-bottom: 1px solid #9f215d;
}
th,td{
  padding: 10px 20px;
  word-break: break-all;
  text-align: center;
  font-family: 'Inter';
  letter-spacing: 0.5px;
}
tr:hover td{
  background: #f6f6f6;
  color: #f39d1c;
  cursor: pointer;
}

.enviar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 40px 20px;
  padding: 20px 120px 20px 0;
  font-family: 'Poppins', sans-serif;
}

.enviar-email-home{
  width: 200px;
  height: 30px;
  background: #E66C51;
  border:none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  outline: none;
  font-size: 13px;
  margin-left: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.enviar select{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #f39d1c;
  font-size: 14px;
  margin-left: 8px;
}

option[value=""][disabled] {
  display: none;
}

#status{
  border-radius: 50%;
  background: #f82929;
  padding: 7px;
  cursor: pointer;
  border: 0;
  margin-bottom: 10px;
}
#statusV{
  border-radius: 50%;
  background: green;
  padding: 7px;
  cursor: pointer;
  border: 0;
}

@media(max-width:991px){
  .table-section{
    padding: 0 10px;
    margin: 40px 0;
  }
  thead th{
    font-size: 12px;
  }
  th,td{
    padding: 10px 5px;
    font-size: 12px;
  }

  .send{
    padding: 20px;
    justify-content: center;
  }
}

/* -------------------------------------------------- CADASTRO DE USUARIOS -------------------------------------------------- */

.fundo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.container{
  max-width: 700px;
  width: 100%;
  padding: 0 30px;
}
.container .voltar{
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .voltar a{
  margin-right: 16px;
  display: flex;
}

.container form .detail{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0 12px 0;
}
form .detail .input-box{
  margin-bottom: 15px;
  width: 100%;
}
.detail .input-box input{
  height: 35px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 2px solid #9F215D;
  font-size: 14px;
}
.detail .input-box input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(44, 44, 44);
  opacity: 0.8; 
  padding-left: 4px ;
}
.detail .input-box select{
  height: 35px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 2px solid #9F215D;
  font-size: 14px;
}
option[value=""][disabled] {
  display: none;
}
.detail .input-box span{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
form .botao{
  display: flex;
  height: 45px;
  margin: 45px 0;
  width: 100%;
  justify-content: flex-end;
}
form .botao input{
  height: 100%;
  width: 30%;
  border-radius: 10px;
  outline: none;
  border: none;
  background: #E66C51;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

@media(max-width:768px){
.container{
  max-width: 100%;
}
form .detail .input-box{
  margin-bottom: 15px;
  width: 100%;
}

}