@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: rgb(44, 44, 44);
}

main {
  padding-top: 4rem;
}
