.salve{
  height: 600px;
  display: flex;
  align-items: center; /*alinhar vertical*/
  justify-content: center; /*alinhar em horizontal*/

}
.cadastro{
 display: flex;
 align-items: center; /*alinhar vertical*/
 justify-content: center; /*alinhar em horizontal*/
 flex-direction: column; /*quebrar coluna ou linha*/
 border-radius: 5px;
 width: 400px;
 height: 700px;
 box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
}
.cadastro h3{
  /* font-size: 22px; */
  margin: 0px 0px 24px 0px;
}
.cadastro p{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgb(44, 44, 44);
  margin: 1px;
  display: flex;
}
.cadastro a{
  color: #9F215D;
}
.cadastro input{
  padding: 3px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: solid 2px #9F215D;
  height: 28px;
  width: 250px;
}

.cadastro button{
  margin: 20px 0px;
  width: 180px;
  height: 50px;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #9F215D    ;
  font-size: 18px;
}


